.loginFormSection {
    width: 100%; height: auto;
}

.loginFormContainer {
    width: 480px; margin: 0 auto; box-sizing: border-box; 
}

.loginFormWrap {
    width: 480px; margin: auto;
}

.logoBox {
    text-align: center;
}
.logoBox img {
    height: 80px;
}

.loginInputWrap {
    display: flex; flex-direction: column;
    border-bottom: 1px solid #C7C7C7;
}
.idInput, .passwordInput {
    width: 480px; height: 60px; margin-bottom: 12px; padding: 0 24px;
    box-sizing: border-box; border: 1px solid #C7C7C7; border-radius: 4px;
    outline: none;
}
.loginBtn {
    width: 100%; height: 60px; margin-bottom: 12px; border: none;
    background-color: #5E00FF; color: white; font-weight: 400;
    border-radius: 4px; font-size: 18px; cursor: pointer;
}
.loginBtn:hover {
    background-color: #4E00D3;
}
.registerBtnWrap {
    width: 100%; height: 60px; margin: 12px 0;
}
.registerBtnWrap .registerBtn {
    width: 100%; height: 60px; background-color: white; border: 1px solid #C7C7C7;
    color: #5A5A5A; border-radius: 4px; cursor: pointer;
}
.registerBtn:hover {
    border: 2px solid #5E00FF; background-color: #FFF; color: #5E00FF; 
    font-weight: 500;
}

.findIdPw {
    width: 100%; height: auto; text-align: center;
}
.findIdPw a {
    color: #5A5A5A;
}
.findId {
    float: left;
}
.findPassword {
    float: right;
}
