#footerBox { 
    position: absolute; bottom:0; width: 100%; height: 80px; line-height: 80px; text-align: center; background-color: #F0F0F0;
}
.centerBox {
    width: 1200px; margin: auto;
}
.centerBox p {
    font-size: 14px;
}