.pageTitleBox { 
    display: flex; width: 100%;
}
.pageTitleWrap { 
    width: 1200px; margin: 0 auto; text-align: left;
}
.pageTitleWrap h2 { 
    margin: 72px 0 60px; font-size: 32px; color: black; font-weight: 500;
}

/* innerTitle */
.innerTitleWrap {
    width: 100%; height: auto;
}
.innerTitleBox {
    margin: 70px auto;
}
.innerTitleBox h2 {
    font-size: 20px; font-weight: bold; text-align: center;
}