.previewContainer {
    width: 100%;
}
.previewWrap {
    display: grid; grid-template-columns: repeat(3, 420px); 
    width:1200px; height: auto; margin: 0 auto;
}
.prevBox { 
    width:360px; height: auto; margin-bottom: 60px; box-sizing: border-box; 
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1); border-radius: 4px;
}
.prevBox .prevThumbnail {
    display: flex; width: 360px; height: 180px; background-size: contain; 
    background-position: center; border-radius: 4px 4px 0 0;
}
.prevBox .prevInfoBox {
    padding: 24px; box-sizing: border-box;
}

.prevBox .prevInfoBox .prevNickname {
    display: flex; width: 320px; height: 24px; line-height: 24px; font-size: 16px;
}
.prevBox .prevInfoBox .prevSubject {
    display: flex; width: 320px; height: 52px; line-height: 26px; margin-top: 12px; font-size: 22px;
    font-weight: 500; color: black; text-decoration: none;
}
.prevBox .prevInfoBox .prevSubject:hover {
    color: #5E00FF;
}
.prevBox .prevInfoBox .prevTerm, .prevBox .prevInfoBox .prevTag, .prevBox .prevInfoBox .prevJoin { 
    display: flex; width: 320px; height: 24px; line-height: 24px; margin-top: 12px; font-size: 16px;
}

.prevTerm img, .prevTag img, .prevJoin img {
    width: 16px; height: 16px; margin: 4px 12px 0 0;
}
