.previewContainer {width: 100%;}
.previewWrap {display: flex; flex-wrap: wrap; justify-content: space-between; width:1200px; height: auto; margin: 0 auto;}
.prevBox { width:360px; height: 332px; margin-bottom: 60px; padding: 20px; box-sizing: border-box; border: 1px solid black;}
.prevBox .prevThumbnail {display: flex; width: 320px; height: 160px; background-size: contain; background-position: center;}
.prevBox .prevSubject {display: flex; width: 320px; height: 24px; line-height: 24px; margin-top: 27px; font-size: 18px;
                     font-weight: bold; color: black; text-decoration: none;}
.prevBox .prevNickname {display: flex; width: 320px; height: 22px; line-height: 22px; margin-top: 12px; font-size: 16px;}
.prevBox .prevTerm, .prevTag { display: flex; width: 320px; height: 22px; line-height: 22px; margin-top: 2px; font-size: 16px;}
