.registerFormSection {
    width: 100%
}
.registerFormContainer {
    height: auto; margin: 0 auto;
}
.registerFormWrap {
    width: 480px; margin: auto;
}
.titleBox {
    margin-bottom: 60px; text-align: center;
}
.titleBox .registerTitle {
    font-size: 24px; color: black; font-weight: bold;
}

.registerInputWrap {
    display: flex; flex-direction: column;
}

.registerInputWrap input:focus {
    border: 2px solid #5E00FF !important;
}

.certBox {
    display: flex; width: 100%; height: 60px; margin-bottom: 12px; background-color: cadetblue;
}
.certBox .certNumber {
    display: block; width: 360px; height: 60px; border: 1px solid #C7C7C7; padding: 0 10px; box-sizing: border-box;
}
.certBox button {
    width: 120px; height: 60px; line-height: 60px; text-align: center; border: none; background-color: #C7C7C7;
    color: white; font-weight: bold;
}
.certBox .certOk {
    display: none;
}

.idInput, .passwordInput, .passwordConfirm {
    width:100%; height: 60px; margin-bottom: 12px; padding: 0 24px;
    box-sizing: border-box; border: 1px solid #C7C7C7; outline: none;
    border-radius: 4px;
}
.nameNickWrap, .genderBirthWrap {
    width: 100%; height: 60px; margin-bottom: 12px; border-radius: 4px;
}
.nameInput, .genderSelect  {
    width: 235px; height: 60px; margin-right: 10px; padding: 0 24px; 
    box-sizing: border-box;  border: 1px solid #C7C7C7; border-radius: 4px;
    outline: none; background-color: #FFF;
}
select{
    appearance: none;
    -moz-appearance: none; /* Firefox */ 
    -webkit-appearance: none; /* Safari and Chrome */
    /* background : url(이미지 경로) 좌우위치 상하위치 반복여부  */
    background: url('../../assets/icons/arrowDown.svg') 90% center no-repeat;

}  
/* IE 기본 스타일 제거 */
select::-ms-expand{
    display: none; /* IE 10, 11 */
}


.nicknameInput, .birthInput {
    width: 235px; height: 60px; padding: 0 24px; border: 1px solid #C7C7C7; 
    box-sizing: border-box; border-radius: 4px; outline: none;
}
.registerFormWrap .registerBtnWrap {
    width: 100%; height: 60px; margin: 0; 
}
.registerSubmitBtn {
    width: 100%; height: 60px; background-color: #5E00FF; color: white; 
    font-weight: 400; border: none; border-radius: 4px; cursor: pointer;
}

.registerSubmitBtn:hover {
    background-color: #4E00D3;
}

.idCheck {
    display: none; font-size: 14px; margin-bottom: 10px; color: royalblue;
}

.show {
    display: inline-block;
}

.red {
    color: crimson;
}

/* spinner */
.spinnerContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 300;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}