.registerCompleteSection {
    width: 100%; height: calc(100vh - 280px);
}
.registerCompleteContainer {
    width: 800px; height: auto; margin: 100px auto; padding: 70px; box-sizing: border-box;
    border-radius: 5px; border: 1px solid black;
}
.completeWrap {
    width: 100%;
}
.titleBox {
    margin-bottom: 60px; text-align: center;
}
.titleBox .completeTitle {
    font-size: 24px; color: black; font-weight: bold;
}
.completeTextBox {
    width: 100%; height: auto;
}
.completeText {
    line-height: 24px;
}

.completeBtnWrap {
    width: 100%; margin-top: 60px;
}
.completeBtnBox {
    display: flex; width: 240px; height: 36px; margin: 0 auto;
}
.completeBtnBox button {
    width: 120px; height:36px; cursor: pointer;
}
.completeBtnBox .loginBtn {
    background-color: #C7C7C7; color: white; font-weight: normal;
}
.completeBtnBox .homeBtn {
    background-color: white; border: 1px solid #C7C7C7;
}