.registerCompleteSection {
    width: 100%; height: calc(100vh - 280px);
}
.registerCompleteContainer {
    width: 480px; height: auto; margin: 0 auto; 
}
.completeWrap {
    width: 100%;
}
.titleBox {
    margin-bottom: 60px; text-align: center;
}
.titleBox .completeTitle {
    font-size: 24px; color: black; font-weight: bold;
}
.completeTextBox {
    width: 100%; height: auto; padding: 48px; box-sizing: border-box; 
    background-color: #FFF; border-radius: 4px; box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}
.completeText {
    line-height: 24px; font-weight: 400;
}

.completeBtnWrap {
    width: 100%; margin-top: 72px;
}
.completeBtnBox {
    display: flex; width: 264px; height: 48px; margin: 0 auto;
}
.completeBtnBox button {
    width: 120px; height: 48px; cursor: pointer; border-radius: 4px;
    font-size: 16px;
}
.completeBtnBox .homeBtn {
    background-color: #FFF; border: 1px solid #C7C7C7; color: #5A5A5A;
    margin-right: 24px;
}
.completeBtnBox .loginBtn {
    background-color: #5E00FF; color: white; font-weight: 400; 
}