#landingContainer {
    display: flex;  width: 100%; height: calc(100vh - 72px);
}

.landingBox {
    width: 100%; height: auto;
}
.landingWrap {
    position: relative; height: 100%; background-color: #F0F0F0; overflow: hidden;
}
.wave {
    opacity: .6; position: fixed; top: 50%; left: 22%; background: #f9f9f9;
    width: 1400px; height: 1400px; margin-left: -700px; margin-top: -700px;
    transform-origin: 50% 48%; border-radius: 43%; animation: drift 10000ms infinite linear;
}
.wave ._one {
    z-index: 5;
}
.wave._two {
    opacity: .4; animation: drift 16000ms infinite linear;
}
.wave._three {
    background-color: steelblue;
}

@keyframes drift {
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}


.contentBox {
    position: absolute; width: 100%; top: 50%; margin-top: -199px;
}
.contentWrap {
    width: 1200px; margin: 0 auto;
}
.halfBox {
    width: 588px; 
}
.textBox {
    margin-right: 24px;
}
.largeText {
    margin-bottom: 48px; line-height: 89px; font-size: 60px; font-weight: 400;  
}
.smallText {
    margin-bottom: 48px; line-height: 36px; font-size: 24px; font-weight: 300;
}
.freeStart {
    width: 148px; height: 52px; border: none; border-radius: 4px; background-color: #5E00FF;
    color: #FFF; outline: none; cursor: pointer;
}

.changeImage {
    height: 398px; border-radius: 4px; overflow: hidden;
}