#landingContainer {
    display: flex;  width: 100%; height: calc(100vh - 72px);
}

.landingBox {
    width: 100%; height: auto;
}
.landingWrap {
    position: relative; height: 100%; background-color: #F0F0F0; overflow: hidden;
}
.wave {
    opacity: .6; position: fixed; top: 50%; left: 22%; background: #f9f9f9;
    width: 1400px; height: 1400px; margin-left: -700px; margin-top: -700px;
    transform-origin: 50% 48%; border-radius: 43%; animation: drift 10000ms infinite linear;
}
.wave ._one {
    z-index: 5;
}
.wave._two {
    opacity: .4; animation: drift 16000ms infinite linear;
}
.wave._three {
    background-color: steelblue;
}

@keyframes drift {
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}


.contentBox {
    position: absolute; width: 100%; top: 50%; margin-top: -199px;
}
.contentWrap {
    display: flex; width: 1200px; margin: 0 auto;
}
.halfBox {
    width: 588px; 
}
.textBox {
    margin-right: 24px;
}
.largeText {
    margin-bottom: 48px; line-height: 89px; font-size: 60px; font-weight: 400;  
}
.smallText {
    margin-bottom: 48px; line-height: 36px; font-size: 24px; font-weight: 300;
}
.freeStart {
    width: 148px; height: 52px; border: none; border-radius: 4px; background-color: #5E00FF;
    color: #FFF; outline: none; cursor: pointer;
}

.changeImage {
    position: relative; height: 398px; border-radius: 4px; overflow: hidden;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}
.landingImg {
    position: absolute; height: inherit;
    -webkit-animation-name: fade; -webkit-animation-iteration-count: infinite;
    animation-name: fade; animation-iteration-count: infinite;
    animation-duration: 12s;
}

@-webkit-keyframes fade {
    0% {opacity: 1;}
    17% {opacity: 1;}
    25% {opacity: 0;}
    92% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 1;}
    17% {opacity: 1;}
    25% {opacity: 0;}
    92% {opacity: 0;}
    100% {opacity: 1;}
}
#fade1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#fade2 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
#fade3 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}
#fade4 {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}