.noticeFullContainer {
    width: 1200px; margin: 0 auto 72px;
}
.noticeFullWrap { 
    background-color: #FFF; box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    border-radius: 4px; font-weight: 400;
}
.noticeFullRowWrap {
    height: 48px; line-height: 48px; border-bottom: 2px solid #F0F0F0;
    font-size: 14px;
}
.rowSmall {
    width: 100px;
}
.rowMedium {
    width: 150px;
}
.noticeFullRowWrap .rowLarge {
    width: 780px; text-align: left; padding-left: 20px; box-sizing: border-box;
}
.noticeFullContentWrap {
    width: 100%;
}
.noticeContent {
    width: 100%; padding: 48px; box-sizing: border-box; line-height: 24px;
}
.noticeContent div {
    width: 100%;; min-height: 500px;
}