.endChartContainer {
    margin: 60px auto 72px;
}
/* catetory */
.categoryWrap {
    margin-top: 24px; padding: 24px; box-sizing: border-box; background-color: #FFF; 
    border-radius: 4px; box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}
.categoryBox {
    width: fit-content; height: 24px; margin: 0 auto;
}
.category {
    display: inline-flex; align-items: center; height: 24px; line-height: 24px; margin-right: 48px;
}
.category:last-child {
    margin-right: 0;
}

.categoryColor {
    display: inline-block; width: 16px; height: 16px; margin-right: 12px; 
}

.categoryName {
    display: inline-block; height: 24px; line-height: 24px;
}
.answer01, .color01 {
    background-color: #5E00FF;
}
.answer02, .color02 {
    background-color: #7E33FF;
}
.answer03, .color03 {
    background-color: #9E66FF;
}
.answer04, .color04 {
    background-color: #BF99FF;
}
.answer05, .color05 {
    background-color: #DFCCFF;
}

/* chart */
.chartWrap {
    display: flex; flex-direction: column; width: 1200px; margin: 60px auto;
}
.chartWrap .qst {
    font-size: 24px; line-height: 32px;
}
.chartWrap .aswBox {
    height: 30px; line-height: 30px; margin:20px 0 0 0
}
.chartBox {
    display: flex; width: 1200px; height: 30px; line-height: 30px;
}
.age {
    display: inline-block; width: 40px; height: 30px; margin-right: 20px;
    text-align: center;
}
.chartBar {
    display: inline-block; width: 1140px; height: 30px;
}
.chartBar li {
    display: inline-block; height: 30px;
}


