.qnaContainer { 
    margin: 60px 0 72px;
}
.qnaContainer > div:last-child {
    margin-bottom: 0;
}
.qnaWrap {
    width: 1200px; margin-bottom: 24px; padding: 48px; box-sizing: border-box; border-radius: 4px;
    background-color: #FFF; box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}


.qst {
    height: 28px; margin-bottom: 24px; line-height: 28px; font-size: 22px; font-weight: 400;
}
.aswBox {
    display: inline-flex; height: 40px; font-size: 16px; margin-right: 24px; padding: 7px;
    border: 1px solid #C7C7C7; box-sizing: border-box; border-radius: 4px; background-color: rgba(199,199,199,0.14);
    align-items: baseline; cursor: pointer;
}
.checked {
    padding: 6px;border: 2px solid #5E00FF; background-color: rgba(94,0,255,0.14); font-weight: 400;
}
.asw {
    width: 24px; height: 24px; line-height: 24px; margin-right: 8px; border-radius: 4px;
    background-color: #C7C7C7; color: white; font-size: 14px; text-align: center;
}
.asw.active {
    background-color: #5E00FF;
}

/* input[type='radio'] {
    appearance: none; border-radius: 4px; background-color: #C7C7C7; color: #FFF; font-size: 14px; 
    font-weight: 300; outline: none;
}

input[type='radio']:checked {
    background-color: #5E00FF; font-weight: 400;
} */