.createSurveyQnaContainer {
    display: flex; flex-direction: column; width: 1200px; margin: 0 auto;
}

/* qna */
/* qna box */
.surveyForm {
    width: 100%; padding: 30px; border: 1px solid #C7C7C7; box-sizing: border-box;
}

/* question, type */
.questionTypeWrap {
    display: flex; justify-content: space-between; width: 100%; height: 40px;
    margin-bottom: 20px;
}
/* question */
.questionBox {
    width: 800px;
}
.questionBox input {
    background-color: #F4F4F4; border: none; color: black;
}
/* type */
.typeBox {
    width: 240px;
}
.typeBox select {
    width: 240px; height: 40px; padding: 0 10px; border: 1px solid #C7C7C7;
    background-color: white;
}
.flagimg {
    width: 24px; height: 24px;
}
#radioIcon {
    background-image: url('../../assets/icons/radioSelect.svg') center no-repeat;
}
/* answer, delete */
.answerDeleteWrap {
    display: flex; justify-content: space-between; width: 100%;
}
/* answer */
.answerBox {
    width: 800px;
}

/* shortAnswer */
#shortAnswer input {
    border: none; border-bottom: 1px solid black;
}

/* selectOne, selectMulti */
#selectOne .optionBox, #selectMulti .optionBox {
    display: flex; width: 800px; margin-bottom: 10px;
}
#selectOne .optionBox:last-child, #selectMulti .optionBox:last-child {
    margin-bottom: 0;
}
#selectOne .radio, #selectMulti .checkbox {
    width: 16px; line-height: 40px; margin-right: 10px;
}
#selectOne .options, #selectMulti .options {
    width:748px;  border: none;
}
#selectOne .optionsActive, #selectMulti .optionsActive {
    width: 748px; border: none; border-bottom: 1px solid black;
}
#selectOne .deleteOption, #selectMulti .deleteOption {
    width: 16px; height: 40px; line-height: 40px; margin-left: 10px; border: none;
    background-color: transparent; padding: 0;
}
#selectOne .addOption, #selectOne .addTextField, #selectMulti .addOption, #selectMulti .addTextField {
    width:748px; line-height: 40px; padding: 0 10px; box-sizing: border-box; 
    color: #C7C7C7; text-decoration: underline;
}

/* delete */
.deleteBox {
    height: 40px;
}
.deleteBox button{
    border: none; background-color: white; text-decoration: underline; 
    font-weight: bold;
}

/* addBtn */
.addBox {
    width: 40px; margin: 20px auto 60px;
}
.addQnA {
    width: 40px; height: 40px;  margin: auto; border-radius: 20px; border: none;
}