.createNewSurveyBtnContainer {
    display: flex; width: 1200px; margin: 0 auto 100px;
}
.submitListWrap {
    margin: 0 auto;
}
/* submit, cancel */
.submitListBtn {
    width: 268px; height: 48px; margin: auto;
}
.submitListBtn button {
    width: 120px; height: 48px;
}

.submitNewSurvey {
    background-color: #5E00FF; border: none; border-radius: 4px; color:white; 
    outline: none;
}
.submitNewSurvey:hover {
    background-color: #4E00D3;
}
.listBtn {
    background-color: white; border: 1px solid #C7C7C7; border-radius: 4px; 
    color: #5A5A5A; margin-right: 24px; outline: none;
}